{% extends 'projects/base.html' %}
{% load static %}
{% block content %}
<div class="about-flex js-fullheight">
      <div class="col-half js-full-height about-img" style="background-image: url({% static 'images/about.png' %});"></div>
      <div class="col-half">
        <div class="owl-carousel3">
          <div class="item">
            <div class="display-t js-fullheight">
              <div class="display-tc js-fullheight">
                <div class="about-desc">
                  <div class="row row-pb-md">
                    <div class="col-md-12">
                      <span class="title">About Me</span>
                      <h2 class="about-head">About Me</h2>
                      <p><strong>Adjetey Anang (born 8 July 1974) is a Ghanaian actor, popularly known as "Pusher",</strong></p>
                      <p>which was his screen name in the television series Things We Do for Love. He is married to
                      Elorm Anang.[1] He has featured in many Ghanaian movies, including Deadly Voyage, A Sting in
                      a Tale, The Perfect Picture and others. He has also featured in a Dutch movie titled Slavery.</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <h3>Get in Touch</h3>
                      <p><a href="#">bob@info.com</a></p>
                    </div>
                    <div class="col-md-6">
                      <h3>Social</h3>
                      <p class="colorlib-social-icons">
                        <a href="https://www.linkedin.com/in/adjetey-anang-8a701433/?originalSubdomain=gh"><i class="icon-linkedin3"></i></a>
                        <a href="https://www.instagram.com/explore/tags/adjeteyanang/?hl=en"><i class="icon-instagram2"></i></a>
                        <a href="https://twitter.com/adjeteygh"><i class="icon-twitter3"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="display-t js-fullheight">
              <div class="display-tc js-fullheight">
                <div class="about-desc">
                  <div class="row row-pb-md">
                    <div class="col-md-12">
                      <span class="title">My Story</span>
                      <h2 class="about-head">Education</h2>
                      <p><strong>Adjetey Anang studied at Labone High School and proceeded to the University of Ghana,</strong></p>
                      <p>where he studied Fine Arts. He went further to study his masters in Dramatic Arts at Wits University in Johannesburg</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="display-t js-fullheight">
              <div class="display-tc js-fullheight">
                <div class="about-desc">
                  <div class="row row-pb-md">
                    <div class="col-md-12">
                      <span class="title">Career</span>
                      <h2 class="about-head">Awards</h2>
                      <p>Adjetey Anang has won himself a lot of fans from his role
                      in Things We Do For Love. He has also won awards including An
                      Arts Critique and Review Association of Ghana (ACRAG) Talent Award and
                      A Ghana Union of Theatre Societies (GUTS) Best Actor Award</p>
                      <ul>
                        <li><i class="icon-check"></i>Arts Critique and Review Association of Ghana (ACRAG) Talent Award</li>
                        <li><i class="icon-check"></i>A Ghana Union of Theatre Societies (GUTS) Best Actor Award.</li>
                        <li><i class="icon-check"></i>Africa Movie Academy Award for Best Actor in a Supporting Role</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
{% endblock %}
