{% extends 'projects/base.html' %}
{% load static %}
{% block content %}
<div class="work-single-flex js-fullheight">
	<div class="col-half js-full-height work-img" style="background-image: url({{ project.image.url }});"></div>
	<div class="col-half js-fullheight">
		<div class="display-t js-fullheight">
			<div class="display-tc js-fullheight">
				<div class="work-desc">
					<h2>{{ project.title }}</h2>
					<p>{{ project.description }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
